#book-info{
    display: flex;
}

#book-info .info_top{
    margin-top:-35px ;
    margin-left: 50px;
}
#book-info .info_bottom{
    margin-top: 80px;
    margin-left: 50px;
}
#book-info img{
    width: 275px;
    height: 380px;
}
#book-info h2{
color: #3498db;
}
#book-info h4,p{
    font-size: large;
    font-weight: bold;
}
#book-info p{
    color: #563501;
}
#book-info .info_bottom span{
    color :#3498db;
    font-weight: bold;
    font-size: larger;

}