{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'student/css/base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>
</head>
<body>
    <input type="hidden" id="user-is-authenticated" value="{% if user.is_authenticated %}true{% else %}false{% endif %}" style="display: none;">
    <!-- Navbar -->
    <div id="navigation">
        <section>
            <nav>
                    <div class="top-section">
                    <div class="logoimg">
                        <img src="{%static 'Images/bknav1.jpg'%}" alt="Logo">
                    </div>
                    <div id="user-info">
                        {% if user.is_authenticated %}
                        <button class="user-btn" onclick="window.location.href='{% url 'EditUserStudent' user.id %}'">{{ user.username }}</button>
                            <button class="user-btn" onclick="window.location.href='{% url 'signoutStudent' %}'">Logout</button>
                        {% else %}
                            <button class="user-btn" onclick="window.location.href='{% url 'signinStudent' %}'">Login</button>
                            <button class="user-btn" onclick="window.location.href='{% url 'signupStudent' %}'">Register</button>
                        {% endif %}
                    </div>
            </div>
            
                <div class="bottom-section">
                    <ul>
                        <li><a href="{% url 'HomeStudent' %}">Home</a></li>
                        <li><a href= "{% url 'BooksStudent' %}">Books</a></li>
                        <li ><a href="#" onclick="BorrowList(event)">Borrow List</a></li>
                        <li ><a href="#" onclick="FavouriteList(event)">Favorite &hearts;</a></li>
                    </ul>
                    <form action="{%url 'SearchBooks'%}" method="GET">
                        <label for="choose" style="color:white">Search by</label>
                        <select id="choose" name="choose">
                            <option value="title" class="title">Title</option>
                            <option value="author" class="author">Author</option>
                            <option value="category" class="category">Category</option>
                        </select>
                        <input type="search" id="search" name="query" placeholder="Search" >
                        <button type="submit" style="background-color:#3498db";>Search</button>
                    </form>
                </div>
            </nav>
            </section>
    </div>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <div id="footer">
        <footer>
            <div class="fotlogo">
                <i class='fas fa-book'></i></div>
            <p class="copyr">&copy; 2024 My Website. All rights reserved.</p>
            <!--        <p>Contact: contact@mywebsite.com</p>-->
            <div class="loca">
                <i class="ourlocation">our locations</i>
                <i  id="location" class='fas fa-map-marker-alt' > Dokki</i>
                <i id="location" class='fas fa-map-marker-alt' > Cairo</i>
                <i  id="location" class='fas fa-map-marker-alt'> Alex</i>
            </div>
            <div class="phone">
                <i class="ournums"> Contact us</i>
                <i class='fas fa-phone' id="phlog"> 01#########</i>
                <i class='fas fa-phone' id="phlog"> 01#########</i>
                <i class='fas fa-phone' id="phlog"> 01#########</i>
            </div>
            <div class="about-us">
                <i class="aboutus">About us</i>
                    <i class="Aus">Support policy</i>
                    <i class="Aus">Careers</i>
                    <i class="Aus">Terms And Conditions</i>
            </div>
            </footer>
    </div>
</body>
</html>
<script> 
    const isUserAuthenticated = document.getElementById('user-is-authenticated').value === 'true';
    function FavouriteList(event) {
        event.preventDefault(); // Prevent the default action of the link
        const isUserAuthenticated = document.getElementById('user-is-authenticated').value === 'true';
        // If user is not authenticated, display alert
        if (!isUserAuthenticated) {
            alert('Please log in first');
            return;
        }
        // Otherwise, proceed with the desired action
        else {
            let url = "{% url 'favoriteList'%}"; // Get the URL of the favorite page
            window.location.href = url; // Redirect the user to the favorite page
        }
    }
    function BorrowList(event) {
        event.preventDefault(); // Prevent the default action of the link
        const isUserAuthenticated = document.getElementById('user-is-authenticated').value === 'true';
        // If user is not authenticated, display alert
        if (!isUserAuthenticated) {
            alert('Please log in first');
            return;
        }
        // Otherwise, proceed with the desired action
        else {
            let url = "{% url 'borrowList'%}"; // Get the URL of the favorite page
            window.location.href = url; // Redirect the user to the favorite page
        }
    }
    
</script>