{% extends 'baseStudent.html' %}
{% load static %}
{% block title %}Book Info{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'student/css/bookInfo.css' %}">
    <div id="book-info">
        
    <div class="info_top"><h2>{{ book.title }}</h2>
    <div id="imgdetails">
        <img src="{{ book.image.url }}" alt="{{ book.title }}">
    </div>
    </div>
    <div class="info_bottom">
        <p>Price:  {{ book.price }}</p><p>Author:   {{ book.author }}</p><p>Cateogry:   {{ book.category }}</p><p>Year:   {{ book.year }}</p><pre><span>Description: </span><h4>{{ book.description }}</h4></pre>
    </div>
    </div>

</body>
{% endblock %}
