/* admin_panel/static/admin_panel/css/style.css */

.sign-back {
    border-radius: 15px;
    text-align: center;
    width: 50%;
    height: 60%;
    margin-left: 25%;
    margin-top: 10%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ccc;
}

.top {
    text-align: center;
}

.bottom {
    display: flex;
}

.login-h1 {
    margin-top: 40px;
    color: #f0f0f0;
    text-align: center;
}

.sign-in {
    width: 50%;
}

.sign-up {
    margin-left: 80px;
}

.separator {
    width: 2px;
    background-color: #f0f0f0;
    /*height: 100%;*/
    top: 0;
}

.sign-back input {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #f0f0f0;
}

#submit, #signup-submit {
    color: #f0f0f0;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

#logout {
    background: rgba(0, 0, 0, 0);
}

#role, #signup-role {
    text-align: center;
    color: #f0f0f0;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 120px;
    height: 30px;
}

select {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

option {
    background-color: rgba(0, 0, 0, 0.7);
}

/* General styles for form inputs */
#username,
#password,
#phoneNumber,
#userEmail,
#signup-username,
#signup-password {
    color: #f0f0f0;
}
