{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library System Login</title>
    <link rel="stylesheet" href="{% static 'libraryAdmin/css/login.css' %}">
</head>

<body>
    <style>
        body {
            background: url("{% static 'Images/log1.jpg' %}");
            background-position: center;
            background-size: cover;
        }
    </style>
    <div class="sign-back">
        <div class="top">
            <h1 class="login-h1">Library System Login</h1>
        </div>
        <div class="bottom">
            <div class="sign-in">
                <h2>Sign in</h2>
                <form id="signin-form" method="post" action="{% url 'signinAdmin' %}">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="Username / Email" required><br><br>
                    <input type="password" id="password" name="password" placeholder="Password" required><br><br>
                    <input type="submit" id="submit" value="Sign in">
                    <p id="signin-message">{{ mesageSignin }}</p>
                </form>
            </div>
            <div class="separator"></div>
            <div class="sign-up">
                <h2>Sign up</h2>
                <form id="signup-form" method="post" action="{% url 'signupAdmin' %}">
                    {% csrf_token %}
                    <input type="text" id="signup-username" name="username" placeholder="Username" required><br><br>
                    <input type="password" id="signup-password" name="password" placeholder="Password" required><br><br>
                    <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone number"><br><br>
                    <input type="email" id="userEmail" name="userEmail" placeholder="Email address" required><br><br>
                    <input type="submit" id="signup-submit" value="Sign up">
                    <p id="signup-message">{{ mesageSignup }}</p>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Function to validate password strength
        function validatePasswordStrength(password) {
            const minLength = 8;
            const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])/;
        
            if (!regex.test(password)) {
                return 'Password must be at least 8 characters long. \n contain at least one uppercase letter, one lowercase letter, one number, and one special character.';
            }
            return '';
            }

        document.getElementById('signup-form').addEventListener('submit', function (event) {
            const password = document.getElementById('signup-password').value;
            const message = validatePasswordStrength(password);
            if (message) {
                event.preventDefault();
                document.getElementById('signup-message').innerText = message;
            }
        });

        document.getElementById('signin-form').addEventListener('submit', function (event) {
            const email = document.getElementById('username').value;
            // You can add more checks or AJAX requests to validate email verification status here
        });
    </script>
</body>

</html>
