{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'LibraryAdmin/css/base.css' %}">
</head>
<body>
    <!-- Navbar -->
    <div id="navigation">
        <section>
            <nav>
            <div class="top-section">
                <div class="logoimg">
                    <img src="{% static 'Images/bknav1.jpg' %}" alt="Logo">
                </div>
                <div id="user-info">
                    <!-- vscode-language=Django -->
                    {% if user.is_authenticated %}
                    <button class="user-btn" onclick="window.location.href='{% url 'EditUser' user.id %}'">{{ user.username }}</button>
                    <button class="user-btn" onclick="window.location.href='{% url 'signoutAdmin' %}'">Logout</button>
                    {% else %}
                        <button class="user-btn" onclick="window.location.href='{% url 'signinAdmin' %}'">Login</button>
                        <button class="user-btn" onclick="window.location.href='{% url 'signupAdmin' %}'">Register</button>
                    {% endif %}
                </div>
            </div>
        
            <div class="bottom-section">
                <ul>
                    <li><a href="{%url 'HomeAdmin' %}" id="homeButton">Home</a></li>
                    <li><a href=" {%url 'BooksAdmin'%}">All Books</a></li>
                    <li><a href=" {%url 'AddBook'%}">Add Book</a></li>
                </ul>
                
                <form action="{% url 'SearchBooksAdmin' %}" method="GET">
                    <label for="choose" style="color:white;">Search by</label>
                    <select id="choose" name="choose">
                        <option value="ID">ID</option>
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="category">Category</option>
                    </select>
                    <input type="search" id="search" name="query" placeholder="Search">
                    <button type="submit" style="background-color:#3498db;">Search</button>
                </form>
            </div>
            </nav>
        </section>
    </div>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <div id="footer">
        <footer>
            <div class="fotlogo">
                <i class='fas fa-book'></i></div>
            <p class="copyr">&copy; 2024 My Website. All rights reserved.</p>
            <!--        <p>Contact: contact@mywebsite.com</p>-->
            <div class="loca">
                <i class="ourlocation">our locations</i>
                <i  id="location" class='fas fa-map-marker-alt' > Dokki</i>
                <i id="location" class='fas fa-map-marker-alt' > Cairo</i>
                <i  id="location" class='fas fa-map-marker-alt'> Alex</i>
            </div>
            <div class="phone">
                <i class="ournums"> Contact us</i>
                <i class='fas fa-phone' id="phlog"> 01#########</i>
                <i class='fas fa-phone' id="phlog"> 01#########</i>
                <i class='fas fa-phone' id="phlog"> 01#########</i>
            </div>
            <div class="about-us">
                <i class="aboutus">About us</i>
                    <i class="Aus">Support policy</i>
                    <i class="Aus">Careers</i>
                    <i class="Aus">Terms And Conditions</i>
            </div>
            </footer>
    </div>
    <script src="{% static 'LibraryAdmin/js/nav.js' %}"></script>
</body>
</html>
