{% extends 'baseAdmin.html' %}
{% load static %}
{% block title %}Books{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'LibraryAdmin/css/Books.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
<div id="bookCatalog">
    {%if recently_added_books %}
    <h2>Recently Added Books</h2>
    <div class='book'>
    <div class='outerfram'>
    {% for book in recently_added_books %}
    <div class='innerfram'>
            <div class="top">
                <div class="favbutton"> </div>
                {% if book.image %}
                    <div class="imgbook"><img src="{{ book.image.url }}" alt="{{ book.title }}"></div>
                {% endif %}
                <div class="book_info">
                    <h2>{{ book.title }}</h2>
                    <p>Author: {{ book.author }}</p>
                    <p>Year: {{ book.year }}</p>
                    <p>Price: ${{ book.price }}</p>
                    <p>Availability: <span class="{%if not book.available%}unavailable{%else%}availability{%endif%}">
                        {%if not book.available%}Unavailable{%else%}Available{%endif%}</span></p>
                </div>
            </div>
            <div class="bottom"> 
                <button class="EditButton"><a href="{% url 'EditBook' book.id %}" ><i class="fas fa-pencil-alt"></i> Edit</a></button>
                <form action="{% url 'DeleteBook' book.id %}" method="post" id="delete">
                    {% csrf_token %}
                    <button type="submit" class='DeleteButton'>Delete</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
</div>
</div>
{%endif%}


<!-- Display books grouped by category -->
{% for category, books in books_by_category.items %}
    <div class="book">
        <h2>{{ category }}</h2>
        <div class='outerfram'>
        {% for book in books %}
        <div class='innerfram'>
            <div class="top">
                <div class="favbutton"> </div>
                {% if book.image %}
                    <div class="imgbook"><img src="{{ book.image.url }}" alt="{{ book.title }}"></div>
                {% endif %}
                <div class="book_info">
                    <h2>{{ book.title }}</h2>
                    <p>Author: {{ book.author }}</p>
                    <p>Year: {{ book.year }}</p>
                    <p>Price: ${{ book.price }}</p>
                    <p>Availability: <span class="{%if not book.available%}unavailable{%else%}availability{%endif%}">
                        {%if not book.available%}Unavailable{%else%}Available{%endif%}</span></p>
                </div>
            </div>
            <div class="bottom"> 
                <button class="EditButton"><a href="{% url 'EditBook' book.id %}" ><i class="fas fa-pencil-alt"></i> Edit</a></button>
                <form action="{% url 'DeleteBook' book.id %}" method="post" id="delete">
                    {% csrf_token %}
                    <button type="submit" class='DeleteButton'>Delete</button>
                </form>
            </div>
        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
